body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 15%;
    background-color: black;
  }

  button {
    cursor: pointer;    
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .board-row {
    padding-left: 20px;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(0, 0, 0);
    border: 4px solid rgb(13, 207, 241);
    float: left;
    font-size: 28px;
    color: chartreuse;
    font-weight: bold;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 60px;
    width: 60px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    color: darkviolet;
    width: 100vw;
    justify-content: center;
  }
  
  .game-info {
    margin-left: 35px;
    margin-top: 70px;
    color: darkviolet;
    font-weight: bold;
    font-size: large;
  }

  .game-board {
    display: flex;
    width: 100wv;
    justify-content: center;
  }
  
  .hist-button {
    border-color: rgb(253, 253, 253);
    background-color: rgb(255, 196, 0);
    color: rgb(211, 45, 45);
    padding: 7px;
    font-weight: bold;
  }

  .heading{
    display: flex;
    width: 100%;
    justify-content: center;
    
  }